@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html {
    background-color: #F2F2F2;
}

/* navbar */

.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #F2F2F2;
    padding: 0 2rem;
}

nav {
    position: relative;
}

.navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items a {
    color: #157792;
    transition: 0.5s;
    font-weight: bold;
    text-decoration: none;
}

.navbar-items a:hover{
    color: #1d9abd
}

.logo {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

/* contact */
.contact-container {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact-container h2{
    font-size: 36px;
    margin-bottom: 15px;
}

.contact-container p {
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
    resize: none;
}

.contact-container input[type='submit'] {
    display: block;
    margin: 0 auto;
    background-color: #1d9abd;
    color: #fff;
    cursor: pointer;
    opacity: 0.9;
}

.contact-container input[type='submit']:hover {
    opacity: 1;
}

.black-container {
    background-color: #f2f2f2;
    height: 80px;
    border-radius: 5px;
}

@media (min-width: 2100px){
    main {
        width: 100%;
        margin: 0 auto;
    }

    .contact-container h2 {
        font-size: 3rem;
    }

    .contact-container p {
        font-size: 2rem;
    }

    .contact-container input,
    .contact-container textarea{
        width: 50%;
        margin: 10px 0;
        font-size: 2rem;
    }

    .contact-container textarea{
        margin: 0 auto;
    }

    .contact-container input[type="submit"] {
        margin-top: 2rem;
        width: 10%;
    }

}

@media (max-width: 1500px){
    
}


@media (max-width: 1100px) {
    

} 

@media (max-width: 900px){
    .contact-container {
        width: 80%;
        margin-left: 4.5rem;
    }

    .contact-container input,
    .contact-container textarea{
        width: 100%;
        margin: 10px 0;
    }

    .contact-container input[type="submit"]{
        margin-top: 1rem;
        width: 35%;
    }
    
}

@media (max-width: 576px){
    html,
    body {
        overflow-x: hidden;
        background-color: #F2F2F2;
    }

    .navbar-container {
        height: auto;
    }

    .navbar-items{
        font-size: 0.9rem;
        right: -25px;
        line-height: 60px;
    }

    .logo{
        max-width: 8rem;
    }

    .contact-container {
        padding: 3rem 2rem;
        width: 100%;
        margin:  0 auto;
    }

    .contact-container input,
    .contact-container textarea{
        width: 100%;
        margin: 10px 0;
    }

    .contact-container input[type="submit"]{
        margin-top: 1rem;
        width: 35%;
    }
    .black-container{
        height: 80px;
    }
}