@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #F2F2F2;
}

h1, h2, h3 {
    color: #16808C;
}

p {
    color: #000;
}

a {
    text-decoration: none;
}

.logo {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

/* navbar */

.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #F2F2F2;
    padding: 0 2rem;
}

nav {
    position: relative;
}

.navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items a {
    color: #157792;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

.navbar-items a:hover{
    color: #1d9abd
}

/* slider */

.slider {
    margin: 0 auto;
    width: 800px;
    padding-top: 30px;
    height: 600px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 200px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    max-width: 100%;
    border-radius: 100px;
}

.slide img:hover {
    transform: scale(1.005);
    transition: 0.1s;
}

/* navigation and radio */

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -190px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ddd;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background-color:#157792 ;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

.navigation-auto div {
    border: 2px solid #ddd;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #157792;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #157792;
}

/* game container */

.games-container {
    display: flex;
    flex-direction: column;
    position:relative;
    cursor: pointer;
}

.game {
    margin-bottom: 0px;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 10px 0;
    transition: 0.1s;
}

.game:hover{
    background-color: #f3eded;
}

.games-container .image1, .games-container .image2{
    width: 100px;
    height: auto;
    position: absolute;
}

.games-container .image1{
    left: 50px;
    bottom: 700px;
    display: none;
}

.games-container .image2 {
    left: 50px;
    bottom: 200px;
    display: none;
}

.game h2{
    text-align: center;
    text-transform: uppercase;
}

.game p {
    padding: 20px;
    font-weight: 300;
}

#last-p {
    padding: 20px 20px 100px 20px;
}

/* footer */

.footer-container {
    background-color: #1d6c81;
    height: 20.5rem;
}

.contact-container {
    background-color: #fd1b4f;
    height: 19rem;
    margin: -6rem 12rem 0 12rem;
    border-radius: 20px;
    position: relative;
}

.contact-container h2 {
    color: white;
    text-align: center;
    position: relative;
    padding-top: 5rem;
    font-weight: lighter;
}

.contact-container input[type='email'] {
    padding: 1rem 0 1rem 3rem;
    width: 40rem;
    height: 4rem;
    align-items: center;
    border-radius: 35px;
    border: none;
    margin: 2.5rem 0 0 8rem;
    position: relative;
    display: block;
}

.contact-container input[type="submit"]{
    border: none;
    border-radius: 35px;
    height: 2rem;
    width: 8rem;
    position: relative;
    font-size: 1rem;
    background-color: #002bd8;
    color: white;
    display: block;
    margin: 2rem 2rem 2rem 23rem;
    cursor: pointer;
}

/* button */

#btn-top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    background-color: #7c867a;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s;
}

.arrow {
    border: solid #000;
    border-width: 0 7px 7px 0;
    padding: 6px;
    display: inline-block;
    border-radius: 5px;
}

.up {
    transform: rotate(-135deg);
}

#btn-top:hover{
    opacity: .9;
}

@media (min-width: 2100px){

    main, .footer-container {
        width: 60%;
        margin: 0 auto;
    }

    .contact-container h2 {
        font-size: 2.5rem;
    }
    
    .contact-container input[type='email'],
    .contact-container input[type='submit'] {
        margin: 2rem auto;
        font-size: 1.8rem;
    }

    .contact-container input[type='submit']{
        width: 15rem;
        height: auto;
        padding: 0rem 1rem 0 1rem;
    }

    .contact-container {
        margin-top: -2rem;
    }

    .game h2 {
        font-size: 2.5rem;
    }

    .game p {
        font-size: 2rem;
    }
}

@media (max-width: 2000px) {
    .contact-container input[type='email'],
    .contact-container input[type='submit'] {
        margin: 2rem auto;
    }
}

@media (max-width: 1500px){
    .contact-container input[type='email'],
    .contact-container input[type='submit'] {
        margin: 2rem auto;
    }
}


@media (max-width: 1100px) {
    .contact-container {
        background-color: #fd3463;
        margin: -3rem 3rem auto 3rem;
        padding: 1rem;
    }
    
    .contact-container h2 {
        margin-top: -4rem;
        font-size: 2rem;
    }

    .contact-container input[type='email'] {
        width: 80%;
        margin: 4rem auto;
        font-size: 1.4rem;
    }

    .contact-container input[type='submit'] {
        margin: -2rem auto auto auto;
        font-size: 1.5rem;
        width: auto;
        padding: 1rem 2rem 2.4rem 2rem;
    }

} 

@media (max-width: 900px){
   html, body{
    overflow-x: hidden;
   }

   .contact-container {
    background-color: #fd3463;
    margin: -3rem 1rem auto 1rem;
    padding: 1rem;
}

    .contact-container h2 {
        margin-top: -4rem;
        font-size: 2rem;
    }

    .contact-container input[type='email'] {
        width: 80%;
        margin: 4rem auto;
        font-size: 1.4rem;
    }

    .contact-container input[type='submit'] {
        margin: -2rem auto auto auto;
    }
    
}

/* celular 576px */

@media (max-width: 576px) {
    html,
    body {
        overflow-x: hidden;
        background-color: #F2F2F2;
    }

    .navbar-container {
        height: auto;
    }

    .navbar-items{
        font-size: 0.9rem;
        right: -25px;
        line-height: 60px;
    }

    .logo{
        max-width: 8rem;
    }

    .slider{
        width: 90%;
    }

    .slider .navigation-auto{
        display: none;
    }

    .manual-btn{
        display: none;
    }

    .game:not(:last-child){
        margin-top: -12rem;
    }

    .contact-container {
        background-color: #fd3463;
        margin: -3rem 1rem auto 1rem;
        padding: 1rem;
    }

    .contact-container h2 {
        margin-top: -4rem;
        font-size: 1.5rem;
    }

    .contact-container input[type='email'] {
        width: 80%;
        margin: 4rem auto 1rem auto;
        font-size: 1rem;
    }

    .contact-container input[type='submit'] {
        margin: auto;
        width: auto;
        height: auto;
        padding: 0.5rem;
    }

    #last-p {
        padding: 20px 20px 60px 20px;
    }

    #btn-top {
        right: 0.5rem;
    }

}